<div class="animated fadeIn">

    <div class="card">
        <div class="card-header"><strong>Components</strong></div>
        <div class="card-block">
            <ul>
                <li class="nav-item"><a class="nav-link" href="components/buttons.html">Buttons</a></li>
                <li class="nav-item"><a class="nav-link" href="components/cards.html">Cards</a></li>
                <li class="nav-item"><a class="nav-link" href="components/forms.html">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="components/modals.html">Modals</a></li>
                <li class="nav-item"><a class="nav-link" href="components/switches.html">Switches</a></li>
                <li class="nav-item"><a class="nav-link" href="components/tables.html">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="icons/font-awesome.html">Font-Awesome Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="icons/simple-line-icons.html">Simple-Line Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="charts.html">Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="widgets.html">Widgets</a></li>
            </ul>
        </div>
    </div>
</div>
